.slide-item {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.slide-item {
    width: 100%;
    /* Faz a imagem ocupar toda a largura do contêiner */
    height: auto;
    /* Mantém a proporção da imagem */
    object-fit: cover;
    /* Cobre o contêiner sem distorcer a imagem */
}